.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.list {
  margin-bottom: 24px;
}


.addButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;

  background-color:  #0d6efd;
  color:  #ffffff;
  

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.addButton:hover {
  background-color: #185ec7;
}

.addButton:active {
  background-color: #082f69;
}





